p {
  margin: 10px 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  padding: 0;
}

img,
a img {
  border: 0;
  height: auto;
  outline: none;
  text-decoration: none;
}

body,
#bodyTable,
#bodyCell {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.mcnPreviewText {
  display: none !important;
}

#outlook a {
  padding: 0;
}

img {
  -ms-interpolation-mode: bicubic;
}

.ReadMsgBody {
  width: 100%;
}

.ExternalClass {
  width: 100%;
}

a[href^=tel],
a[href^=sms] {
  color: inherit;
  cursor: default;
  text-decoration: none;
}

p,
a,
li,
td,
body,
table,
blockquote {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass td,
.ExternalClass div,
.ExternalClass span,
.ExternalClass font {
  line-height: 100%;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

.templateContainer {
  max-width: 600px !important;
}

a.mcnButton {
  display: block;
}

.mcnImage,
.mcnRetinaImage {
  vertical-align: bottom;
}

.mcnTextContent {
  word-break: break-word;
}

.mcnTextContent img {
  height: auto !important;
}

.mcnDividerBlock {
  table-layout: fixed !important;
}

h1 {
  color: #FFFFFF;
  font-family: 'Arvo', 'Courier', Georgia, serif;
  ;
  font-size: 46px;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;

  letter-spacing: 1px;

  text-align: center;
  font-size: 46px;
}

/*
@tab Page
@section Heading 2
@style heading 2
*/
h2 {

  color: #222222;

  font-family: 'Lora', Georgia, 'Times New Roman', serif;

  font-size: 28px;

  font-style: normal;

  font-weight: bold;

  line-height: 200%;

  letter-spacing: normal;

  text-align: center;
}

/*
@tab Page
@section Heading 3
@style heading 3
*/
h3 {

  color: #444444;

  font-family: 'Lora', Georgia, 'Times New Roman', serif;

  font-size: 20px;

  font-style: italic;

  font-weight: normal;

  line-height: 200%;

  letter-spacing: normal;

  text-align: left;
}

/*
@tab Page
@section Heading 4
@style heading 4
*/
h4 {

  color: #3D3D3D;

  font-family: 'Lora', Georgia, 'Times New Roman', serif;

  font-size: 20px;

  font-style: italic;

  font-weight: normal;

  line-height: 125%;

  letter-spacing: normal;

  text-align: left;
}

/*
@tab Header
@section Header Container Style
*/
#templateHeader {

  background-color: #185d68;

  background-image: url("./students.jpg");

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border-top: 0;

  border-bottom: 0;

  padding-top: 140px;

  padding-bottom: 140px;
}

/*
@tab Header
@section Header Interior Style
*/
.headerContainer {

  background-color: #185d68;

  background-image: none;

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border-top: 0;

  border-bottom: 0;

  padding-top: 36px;

  padding-bottom: 36px;
}

/*
@tab Header
@section Header Text
*/
.headerContainer .mcnTextContent,
.headerContainer .mcnTextContent p {

  color: #FFFFFF;

  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  font-size: 32px;

  line-height: 150%;

  text-align: center;
}

/*
@tab Header
@section Header Link
*/
.headerContainer .mcnTextContent a,
.headerContainer .mcnTextContent p a {

  color: #FFFFFF;

  font-weight: normal;

  text-decoration: underline;
}

/*
@tab Upper Body
@section Upper Body Container Style
*/
#templateUpperBody {

  background-color: #185d68;

  background-image: none;

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border-top: 0;

  border-bottom: 0;

  padding-top: 63px;

  padding-bottom: 63px;
}

/*
@tab Upper Body
@section Upper Body Interior Style
*/
.upperBodyContainer {

  background-image: none;

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border-top: 0;

  border-bottom: 0;

  padding-top: 9px;

  padding-bottom: 27px;
}

/*
@tab Upper Body
@section Upper Body Text
*/
.upperBodyContainer .mcnTextContent,
.upperBodyContainer .mcnTextContent p {

  color: #FFFFFF;

  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  font-size: 20px;

  line-height: 150%;

  text-align: left;
}

/*
@tab Upper Body
@section Upper Body Link
*/
.upperBodyContainer .mcnTextContent a,
.upperBodyContainer .mcnTextContent p a {

  color: #FFFFFF;

  font-weight: normal;

  text-decoration: underline;
}

/*
@tab Middle Body
@section Middle Body Container Style
*/
#templateMiddleBody {

  background-color: #ffffff;

  background-image: none;

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border-top: 0;

  border-bottom: 0;

  padding-top: 72px;

  padding-bottom: 54px;
}

.middleBodyContainer {

  background-color: #transparent;

  background-image: none;

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border-top: 0;

  border-bottom: 0;

  padding-top: 9px;

  padding-bottom: 27px;
}

/*
@tab Middle Body
@section Middle Body Text
*/
.middleBodyContainer .mcnTextContent,
.middleBodyContainer .mcnTextContent p {

  color: #404040;

  font-family: Arial;

  font-size: 16px;

  line-height: 150%;

  text-align: left;
}

/*
@tab Middle Body
@section Middle Body Link
*/
.middleBodyContainer .mcnTextContent a,
.middleBodyContainer .mcnTextContent p a {

  color: #185d68;

  font-weight: normal;

  text-decoration: underline;
}

/*
@tab Lower Body
@section Lower Body Container Style
*/
#templateLowerBody {

  background-color: #185d68;

  background-image: url("./studying.jpg");

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border-top: 0;

  border-bottom: 0;

  padding-top: 182px;

  padding-bottom: 182px;
}

/*
@tab Lower Body
@section Lower Body Interior Style
*/
.lowerBodyContainer {

  background-color: #ffffff;

  background-image: none;

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border-top: 0;

  border-bottom: 0;

  padding-top: 9px;

  padding-bottom: 27px;
  border-radius: 25px;
}

/*
@tab Lower Body
@section Lower Body Text
*/
.lowerBodyContainer .mcnTextContent,
.lowerBodyContainer .mcnTextContent p {

  color: #FFFFFF;

  font-family: Arial;

  font-size: 16px;

  line-height: 150%;

  text-align: center;
}

/*
@tab Lower Body
@section Lower Body Link
*/
.lowerBodyContainer .mcnTextContent a,
.lowerBodyContainer .mcnTextContent p a {

  color: #FFFFFF;

  font-weight: normal;

  text-decoration: underline;
}

/*
@tab Footer
@section Footer Style
*/
#templateFooter {

  background-color: #185d68;

  background-image: none;

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border-top: 0;

  border-bottom: 0;

  padding-top: 72px;

  padding-bottom: 72px;
}

/*
@tab Footer
@section Footer Interior Style
*/
.footerContainer {

  background-color: #transparent;

  background-image: none;

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover;

  border-top: 0;

  border-bottom: 0;

  padding-top: 0;

  padding-bottom: 0;
}

/*
@tab Footer
@section Footer Text
*/
.footerContainer .mcnTextContent,
.footerContainer .mcnTextContent p {

  color: #FFFFFF;

  font-family: Arial;

  font-size: 12px;

  line-height: 150%;

  text-align: center;
}

/*
@tab Footer
@section Footer Link
*/
.footerContainer .mcnTextContent a,
.footerContainer .mcnTextContent p a {

  color: #FFFFFF;

  font-weight: normal;

  text-decoration: underline;
}

@media only screen and (max-width: 480px) {
  .columnWrapper {
    max-width: 100% !important;
    width: 100% !important;
  }

}

@media only screen and (max-width: 480px) {
  #templateHeader {
    padding-right: 18px !important;
    padding-left: 18px !important;
  }

}

@media only screen and (max-width: 480px) {

  body,
  table,
  td,
  p,
  a,
  li,
  blockquote {
    -webkit-text-size-adjust: none !important;
  }

}

@media only screen and (max-width: 480px) {
  body {
    width: 100% !important;
    min-width: 100% !important;
  }

}

@media only screen and (max-width: 480px) {
  .mcnRetinaImage {
    max-width: 100% !important;
  }

}

@media only screen and (max-width: 480px) {
  .mcnImage {
    width: 100% !important;
  }

}

@media only screen and (max-width: 480px) {

  .mcnCartContainer,
  .mcnCaptionTopContent,
  .mcnRecContentContainer,
  .mcnCaptionBottomContent,
  .mcnTextContentContainer,
  .mcnBoxedTextContentContainer,
  .mcnImageGroupContentContainer,
  .mcnCaptionLeftTextContentContainer,
  .mcnCaptionRightTextContentContainer,
  .mcnCaptionLeftImageContentContainer,
  .mcnCaptionRightImageContentContainer,
  .mcnImageCardLeftTextContentContainer,
  .mcnImageCardRightTextContentContainer,
  .mcnImageCardLeftImageContentContainer,
  .mcnImageCardRightImageContentContainer {
    max-width: 100% !important;
    width: 100% !important;
  }

}

@media only screen and (max-width: 480px) {
  .mcnBoxedTextContentContainer {
    min-width: 100% !important;
  }

}

@media only screen and (max-width: 480px) {
  .mcnImageGroupContent {
    padding: 9px !important;
  }

}

@media only screen and (max-width: 480px) {

  .mcnCaptionLeftContentOuter .mcnTextContent,
  .mcnCaptionRightContentOuter .mcnTextContent {
    padding-top: 9px !important;
  }

}

@media only screen and (max-width: 480px) {

  .mcnImageCardTopImageContent,
  .mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,
  .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
    padding-top: 18px !important;
  }

}

@media only screen and (max-width: 480px) {
  .mcnImageCardBottomImageContent {
    padding-bottom: 9px !important;
  }

}

@media only screen and (max-width: 480px) {
  .mcnImageGroupBlockInner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

}

@media only screen and (max-width: 480px) {
  .mcnImageGroupBlockOuter {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
  }

}

@media only screen and (max-width: 480px) {

  .mcnTextContent,
  .mcnBoxedTextContentColumn {
    padding-right: 18px !important;
    padding-left: 18px !important;
  }

}

@media only screen and (max-width: 480px) {

  .mcnImageCardLeftImageContent,
  .mcnImageCardRightImageContent {
    padding-right: 18px !important;
    padding-bottom: 0 !important;
    padding-left: 18px !important;
  }

}

@media only screen and (max-width: 480px) {
  .mcpreview-image-uploader {
    display: none !important;
    width: 100% !important;
  }

}

@media only screen and (max-width: 480px) {

  /*
@tab Mobile Styles
@section Heading 1
*/
  h1 {

    font-size: 34px !important;

    line-height: 150% !important;
  }

}

@media only screen and (max-width: 480px) {

  /*
@tab Mobile Styles
@section Heading 2
*/
  h2 {

    font-size: 26px !important;

    line-height: 125% !important;
  }

}

@media only screen and (max-width: 480px) {

  /*
@tab Mobile Styles
@section Heading 3
*/
  h3 {

    font-size: 20px !important;

    line-height: 200% !important;
  }

}

@media only screen and (max-width: 480px) {

  /*
@tab Mobile Styles
@section Heading 4
*/
  h4 {

    font-size: 18px !important;

    line-height: 150% !important;
  }

}

@media only screen and (max-width: 480px) {

  /*
@tab Mobile Styles
@section Boxed Text
*/
  .mcnBoxedTextContentContainer .mcnTextContent,
  .mcnBoxedTextContentContainer .mcnTextContent p {

    font-size: 18px !important;

    line-height: 200% !important;
  }

}

@media only screen and (max-width: 480px) {

  /*
@tab Mobile Styles
@section Header Text
*/
  .headerContainer .mcnTextContent,
  .headerContainer .mcnTextContent p {

    font-size: 30px !important;

    line-height: 150% !important;
  }

}

@media only screen and (max-width: 480px) {

  /*
@tab Mobile Styles
@section Upper Body Text
*/
  .upperBodyContainer .mcnTextContent,
  .upperBodyContainer .mcnTextContent p {

    font-size: 18px !important;

    line-height: 150% !important;
  }

}

@media only screen and (max-width: 480px) {

  /*
@tab Mobile Styles
@section Middle Body Text
*/
  .middleBodyContainer .mcnTextContent,
  .middleBodyContainer .mcnTextContent p {

    font-size: 16px !important;

    line-height: 150% !important;
  }

}

@media only screen and (max-width: 480px) {

  /*
@tab Mobile Styles
@section Lower Body Text
*/
  .lowerBodyContainer .mcnTextContent,
  .lowerBodyContainer .mcnTextContent p {

    font-size: 16px !important;

    line-height: 150% !important;
  }

}

@media only screen and (max-width: 480px) {

  /*
@tab Mobile Styles
@section Footer Text
*/
  .footerContainer .mcnTextContent,
  .footerContainer .mcnTextContent p {

    font-size: 14px !important;

    line-height: 150% !important;
  }

}